*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.all{
    display: grid;
    grid-template-columns: 20% 80%;
}
header{
    width: 20%;
    height: 100%;
    background-color: #529494;
    position: fixed;  
}

h1{
    margin-top: 15px;
    margin-bottom: 80px;
}

.right{
    height: 100%;
    
}

.nav-menu{
    padding-left: 20px;
    list-style-type: none;
}
.nav-item{
    padding: 20px;
}
.nav-menu .nav-item a{
    
    text-decoration: none;
    padding: 20px;
}

.nav-menu .nav-item:hover{
    background-color: white;
    padding: 20px;
    transition: 0.1s ease-in-out;
    color: #357b64;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
a{
    text-decoration: none;
    color: #00000087;
    font-size: 20px;
}
.box-center{
    display: flex;
    justify-content: center;
}
.right .box{
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.139);
    width: 90%;
    height: 70px;
    text-align: center;
    margin-top: 20px;
}

.box{
    background-color: #529494;
    color: white;
}

.box-center table{
    width: 90%;
}

.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.139);
    width: 90%;
    height: 350px;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
}

table{
    text-align: center;
}

table td, th{
    padding: 10px;
}
.btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.btn-green{
    background-color: #28f994a8;
}
.btn-red{
    background-color: #fc3b3bd8;
}
.inform-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-border{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.139);
    width: 90%;
    height: 190px;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
}
.box-border h3{
    color: #529494;
}
.ad-cursos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.box4{
    width: 40%;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.139);
    padding: 20px;
}
.box3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}